[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
gunicorn = "*"
keras = "*"
numpy = "*"
scipy = "*"
tensorflow = "*"
pillow = "*"

[requires]
python_version = "3.5"
