<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainpage.css')}}">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <h2 id="h1">Species Finder</h2>
    <div id="div">
        <form action="https://whoreally.herokuapp.com/classification/portrait" method="post" enctype="multipart/form-data">
            <h2 id="h2">This is WhoReally?</h2>
            <p id="p1">WhoReally? uses cutting edge image recognition algorithms to find out who you
                <em>really</em> are.</p>
            <p>Upload a portrait of yourself or a friend and learn what our A.I. thinks about it.</p>
            <input type="file" name="file" id="fileToUpload">
            <button onclick="search()">Search</button>
            <p id="message"></p>
        </form>
    </div>
</body>

</html>